@tailwind base;
@tailwind components;
@tailwind utilities;

.three-borders {
  position: relative;
  color: white;
  border-radius: 12px;
  z-index: 1;
}
.three-borders span {
  padding: 8px 10px;
  border-radius: 6px;
}
.three-borders::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  padding: 8px;
  clip-path: polygon(
    4% 0%,
    96.5% 0%,
    100% 16%,
    100% 85%,
    94% 110%,
    4% 100%,
    0 86%,
    0% 14%
  );
}
.three-borders::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -16px;
  z-index: -2;
  clip-path: polygon(
    4% 0%,
    95.5% 0%,
    100% 16%,
    100% 85%,
    94% 110%,
    4% 100%,
    0 86%,
    0% 14%
  );
  padding: 16px;
}
.purple::before {
  border: 1px solid rgba(255, 118, 225, 0.73); 
  /* border-color: rgba(255, 118, 225, 0.73); */
  background-color: rgba(86, 33, 161, 0.39);
}
.purple::after{
  border: 1px solid rgba(255, 118, 225, 0.73); 
  /* border-color: rgba(255, 118, 225, 0.73); */
  background-color: rgba(113, 58, 191, 0.3);
}
.purple span:first-child{
  background-color: rgba(72, 21, 146, 0.39);
}
.yellow span:first-child{
  background-color: rgba(146, 133, 21, 0.39);
}
.yellow::before {
  border: 1px solid rgba(255, 241, 118, 0.73);
  background-color: rgba(161, 156, 33, 0.39);
}
.yellow::after{
  border: 1px solid rgb(255, 241, 118, 0.73);
  background-color: rgba(191, 162, 58, 0.30);
}
.blue span:first-child{
  background-color: rgba(21, 116, 146, 0.39);
}
.blue::before {
  border: 1px solid rgba(118, 247, 255, 0.73);
  background-color: rgba(33, 131, 161,0.39);
}
.blue::after{
  border: 1px solid rgba(118, 247, 255, 0.73);
  background-color: rgba(58, 167, 191, 0.30);
}
