@tailwind base;
@tailwind components;
@tailwind utilities;


.chat-interface{
    background-image: url("../../public/assets/chat-bg.svg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 21rem;
    height: 19rem;
}

@media screen and (max-width : 374px){
    .chat-interface{
        width: 18rem;
        height: 12rem;
    }
}
@media screen and (min-width : 375px) and (max-width : 420px){
    .chat-interface{
        width: 19rem;
        height: 15.5rem;
    }
    .mic{
        bottom: -35%;
    }
}

@media screen and (min-width : 420px) and (max-width : 480px){
    .chat-interface{
        width: 19.9rem;
        height: 18rem;
    }
    .mic{
        bottom: -45%;
    }
}
/*Styling for scrollbars */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,118,225,0.3);
    height: 100px;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,118,225,0.5);
}