@font-face {
  font-family: 'AlienEncountersSolid';
  src: url('/fonts/AlienEncountersSolid.woff2') format('woff2'),
       url('/fonts/AlienEncountersSolid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AlienEncountersSolid', sans-serif;
}
